body {
      font-family: 'Montserrat', sans-serif;
      background-color: #f7f7f7;
      padding: 2rem;
    }
    .form-container {
      background: #fff;
      border-radius: 8px;
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }


    h5 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900; /* Extra bold */
      color: #1B3CA2;   /* Warna biru sesuai permintaan */
    }


    .form-label {
      font-weight: 800;
    }
    .form-control:focus {
      border-color: #3b5bdb;
      box-shadow: 0 0 0 0.1rem rgba(59,91,219,0.25);
    }
    .btn-primary {
      background-color: #1e40af;
      border: none;
    }
    .btn-primary:hover {
      background-color: #1e3a8a;
    }
    .back-button {
      background-color: #C6D2F6;
      margin-bottom: 1rem;
    }
    #submitBtn:disabled {
    background-color: #7B96E9;
    color: white;
    cursor: not-allowed;
    }

    #submitBtn:not(:disabled):hover {
      background-color: #112666;
    }

    #submitBtn:not(:disabled) {
      background-color: #1e3a8a;
      color: white;
    }
    .input-group-text {
      background: transparent;
      border: none;
    }
    .icon-container {
      border: 1px solid #cbd5e0;
      border-radius: 0.375rem;
    }
    .custom-hr {
      border: none;
      height: 2px;
      background-color: #1D43B4;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }