 body {
   font-family: 'Montserrat', sans-serif;
   background-color: #f6f7fb;
 }

 input.form-control,
 select.form-select {
   width: 100%;
 }

  .stok-box {
    width: 296px;
    padding: 1rem;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

 .stok-rendah-box {
   background-color: #ffedb5;
   color: #DC990A;
   border: 1px solid #DC990A;
 }

 .stok-habis-box {
   background-color: #f8bcbc;
   color: #C40101;
   border: 1px solid #C40101;
 }

 .obat-card {
   font-size: 14px;
   border: 1px solid #ddd;
   border-radius: 12px;
   background-color: #fff;
   padding: 1rem;
   margin-bottom: 1rem;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
 }

 .obat-status {
   font-weight: bold;
   padding: 0.2rem 0.6rem;
   border-radius: 8px;
   font-size: 0.8rem;
 }

 .status-aman {
   border: 1px solid #357A5B;
   background-color: #D2E7DD;
   color: #357A5B;
 }

  .status-title {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }

  .status-count {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .status-icon-rendah {
    font-size: 1.8rem;
    color: #DC990A;
  }

  .status-icon-habis {
    font-size: 1.8rem;
    color: #C40101;
  }
 .status-rendah {
   border: 1px solid #DC990A;
   background-color: #fff4de;
   color: #DC990A;
 }

 .status-habis {
   border: 1px solid #C40101;
   background-color: #ffe2e5;
   color: #C40101;
 }

  .icon-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 8px;
  }

  .btn-edit {
    background-color: #C6D2F6; /* Biru */
    color: #1B3CA2;
     border: 1px solid #1B3CA2;
  }

  .btn-delete {
    background-color: #F7B6B6; /* Merah */
    color: #C40101;
    border: 1px solid #C40101;
  }

  .icon-btn:hover {
    opacity: 0.85;
    transition: 0.2s;
  }


 .pagination {
   justify-content: center;
 }

 .btn-sm {
  border-radius: 8px;
  font-size: 0.875rem;
  padding: 4px 12px;
}

.dropdown-toggle::after {
  margin-left: 6px;
}


